<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idt.yfzx.wdc.lightofandroidadvanced">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".activity.TabLayoutViewPager" />

        <receiver android:name=".receiver.TestReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.VolleyActivity" />
        <activity android:name=".activity.NewsList" />
        <activity android:name=".activity.CardViewActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.CustomActivity" />
        <activity android:name=".activity.BezierPathActivity" />
        <activity android:name=".activity.Otto.OttoEntrance" />
        <activity android:name=".activity.Otto.OttoActivityB" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.EventBus.EventBusA" />
        <activity android:name=".activity.EventBus.EventBusB" />
        <activity android:name=".activity.RXJava.RXJavaActivity" />
        <activity android:name=".mvp.view.MVP_Entrance" />
        <activity android:name=".myAnnotation.AnnotationActivity" />
        <activity android:name=".activity.PermissionTestActivity" />
        <activity android:name=".activity.zxing.CaptureActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".activity.Database.ContentProviderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name=".database.MyProvider"
            android:authorities="com.idt.yfzx.wdc.lightofandroidadvanced.MyProvider"
            android:exported="true" />
    </application>

</manifest>